body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	margin-left: 25px;
	margin-right: 25px;
}

header {
	margin: 5px;
}

nav {
	margin: 20px 5px 20px 5px;
}
section {
	margin: 20px 5px 20px 5px;
	background-color: #f0f5f8;
	
}

article {
	padding: 10px;
	
}

address {
	font-size: smaller;
	}


aside {
	}

footer{
	margin: 10px;
}

	
h1,h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 5px;
	}
p {
	text-align: justify;
}

img {
	/*width: 250px;
	height: 188px;*/
	border: solid 1px #000000;
	margin: 0px 10px 10px 0px;
	float: left;
}

a:link {
	font-weight: 900;
	}

#masthead {
	border: 2px solid #000000;
	padding-left: 20px;
	padding-right: 20px;
	
}

.name {
	font-family: 'Playfair Display SC', serif;
}

#about {
	border: 2px dashed blue;
	padding: 5px;
	}

}