body {
	background-color: #F0F0F0;
	line-height: 1;
	}

article {
	border: 4px solid;
	border-color: #606060;
	padding: 10px;
}

p {
	color: #888888;
	font-size: 12px;
}

#first {
	font-size: larger;
	font-weight: bold;
}