/*test*/

div {
   width: 600px;
   height: 300px;
   background-image: url("http://www.destination360.com/north-america/us/ohio/images/s/toledo.jpg");
    }
    
h1 {
    padding: 20px 0px 0px 30px;
    color: #FFFFFF;
    text-decoration: underline;
}
